.footer {
  background-color: #1a1a2e;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #eeecec;
}

.info,
.developer,
.social {
  color: #eeecec;
  font-size: 1rem;
  text-align: center;

  padding: 1rem;
}

.info {
  color: #eeecec;
  font-size: 1rem;
  text-align: center;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  gap: 1rem;
}

.link {
  color: #eeecec;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #e94560;
}
